footer {
  padding: 7rem 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/images/footer-bg.png);
  background-size: cover;

  h5 {
    text-transform: uppercase;
    color: #fff;
    font-weight: $bold;
    margin-bottom: 2rem;
    font-size: 20px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;

    li {
      color: #fff;
      margin-bottom: 2rem;
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 24px;

      @media only screen and (max-width: $desktop_width) {
        margin-left: 10px;
      }
    }
  }

  a {
    font-weight: normal;
  }

  .logo {
    height: 170px;
    width: auto;
  }
}
