.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 105px;

  button {
    height: 50px;
    width: 50px;
    cursor: pointer;

    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    &::before {
      content: "";
      font-size: unset;
      opacity: 1;
      display: inline-block;
      background: url(/images/icon/up-arrow.png) no-repeat center;
      background-size: cover;
      height: 50px;
      width: 50px;
      position: absolute;
    }
  }
}