.btn{
  color: $color-black;
  border: 2px solid;
  padding: 20px 80px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .5rem;
  font-weight: 600;
  z-index: 1;
  position: relative;
  border-radius: 0;

  &.btn-sm {
    padding: 10px 20px;
    font-size: 12px;
  }

  @include media("mobile"){
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 2px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $red;
    color: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
    transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
    transition: transform 0.2s,width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s;
    transition: transform 0.2s,width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleY(1);
    width: 100%;
    color: #fff;
  }

  &:hover {
    color: #fff;
    border-color: $red;
  }

}

.btn-white {
  width: 100%;
  color: #fff;
  margin-bottom: 5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    color: #000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
    transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
    transition: transform 0.2s,width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s;
    transition: transform 0.2s,width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleY(1);
    width: 100%;
    color: #000;
  }

  &:hover {
    color: #000;
    border-color: #fff;
  }
}

.btn-profile {
  width: 100%;
  font-size: 2rem;
  padding:  24px 86px;


  @media only screen and (max-width: $mobile_width) {
    font-size: 1.5rem;
    padding: 17px 20px;
  }
}

.team-button {
  width: 20px;
  height: 20px;
  border-radius: 40px;
  color: white;
  background: #D32907;
  cursor: pointer;
  position: relative;

  &::after {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.plus::after {
    content: '+';
  }

  &.minus::after {
    content: '-';
  }
}