* {
  outline: none !important;

  &:active, &:focus, &:hover, &::-moz-focus-inner {
    outline: none !important;
  }

  &::-moz-focus-inner {
    border: 0 !important;
  }
}

input:focus, textarea:focus, select:focus, option:focus button{
  outline: none !important;
}

.mb-10{
  margin-bottom: 10px;
}

.m-bottom {
  margin-bottom: 8rem !important;
}

.m-bottom-small {
  margin-bottom: 3rem;
}

.m-right {
  margin-right: 20px;
}

.white-bg{
  background: white;
}

.pointer {
  cursor: pointer;
}

//.filepond--drop-label {
//  justify-content: start !important;
//  background: #F5F7F8;
//  //padding: 50px 0 !important;
//  border-bottom: 1px solid #6B6B6B;
//}
//
//.filepond--drop-label label{
//  padding-left: 12px !important;
//  font-size: 15px !important;
//  color: #929394 !important;
//}