@font-face {
  font-family: "Fira Sans";
  src: url(/fonts/FiraSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url(/fonts/FiraSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "League Spartan";
  src: url(/fonts/LeagueSpartan-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}
.bg, section.reset-password, section.forgot-password, section.startup-content, section.single-post {
  background: #ECEFF1;
  color: #6B6B6B;
  padding: 80px 0 60px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html, body {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  color: #3E3E3E;
}

h1 {
  font-size: 6rem;
  font-family: "League Spartan", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 5rem;
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase;
  color: #3E3E3E;
}

h3 {
  font-size: 4rem;
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase;
  color: #3E3E3E;
}

h4 {
  font-size: 3rem;
  font-family: "League Spartan", sans-serif;
  color: #3E3E3E;
  text-transform: uppercase;
}

h5 {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  color: #3E3E3E;
}

h6 {
  font-size: 1rem;
  font-family: "League Spartan", sans-serif;
  color: #3E3E3E;
}

p, ul, li {
  font-size: 16px;
  font-weight: normal;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  list-style: none;
}

p {
  margin-bottom: 30px;
}

a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  form.search {
    width: 100%;
  }
}
form.search select:not(multiple) {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 15px 60px 15px 30px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #fff;
  background: url(/images/icon/drop-down.svg) no-repeat calc(100% - 17px) center;
  background-size: 16px;
  margin-right: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  margin-right: -5px;
  border-radius: 0;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 992px) {
  form.search select:not(multiple) {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  form.search select:not(multiple) {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  form.search select:not(multiple) {
    font-size: 10px;
  }
}
form.sign-up {
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  form.sign-up {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  form.sign-up {
    left: unset;
    padding: 10px;
  }
}
form.sign-up input {
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  outline: none;
}
@media only screen and (max-width: 576px) {
  form.sign-up input {
    padding-left: 10px;
  }
}
form.sign-up input::placeholder {
  color: #fff;
}
form.sign-up select:not(multiple) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/images/icon/drop-down.svg) no-repeat calc(100% - 17px) center;
  background-size: 16px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid;
}
form.startup-message {
  padding: 1rem 2rem;
  box-shadow: -1px 2px 12px 0px rgba(0, 0, 0, 0.3);
  line-height: 21px;
  z-index: 1;
  position: absolute;
  right: -36px;
  top: 347px;
  background: #fff;
  display: none;
}
@media only screen and (max-width: 992px) {
  form.startup-message {
    right: -175px;
    top: 348px;
  }
}
@media only screen and (max-width: 768px) {
  form.startup-message {
    right: -150px;
    top: 337px;
  }
}
@media only screen and (max-width: 576px) {
  form.startup-message {
    width: 100%;
    right: 0px;
    top: 347px;
  }
}
form.startup-message textarea {
  border-color: #AFAFAF;
  padding: 0.5rem;
  resize: none;
  outline: none;
}
@media only screen and (max-width: 576px) {
  form.startup-message textarea {
    width: 100%;
  }
}
form.startup-message textarea ::placeholder {
  color: #3E3E3E;
}
form.profile-details {
  width: 70%;
  margin: 0 auto;
  /* Firefox */
}
@media only screen and (max-width: 992px) {
  form.profile-details {
    width: 100%;
  }
}
form.profile-details label {
  display: block;
  margin-bottom: 2rem;
  font-weight: 600;
}
form.profile-details #image-upload {
  width: 25%;
  height: 20vh;
  cursor: pointer;
  margin-bottom: 3rem;
  border: 3px dotted #DADADA;
  position: relative;
}
@media only screen and (max-width: 576px) {
  form.profile-details #image-upload {
    width: 50%;
  }
}
form.profile-details #image-upload::before {
  content: url(/images/icon/upload-image-icon.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form.profile-details #image-upload::-webkit-file-upload-button {
  visibility: hidden;
}
form.profile-details #image-upload[type=file] {
  color: transparent;
}
form.profile-details input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #6B6B6B;
  margin-bottom: 4rem;
  outline: none;
}
form.profile-details input::placeholder {
  color: #6B6B6B;
}
form.profile-details input[type=number]::-webkit-outer-spin-button,
form.profile-details input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form.profile-details input[type=number] {
  -moz-appearance: textfield;
}
form.profile-details .small-width {
  width: 25%;
  margin-right: 2rem;
}
@media only screen and (max-width: 576px) {
  form.profile-details .small-width-sm {
    width: 100%;
  }
}
form.profile-details .medium-width {
  width: 75%;
}
form.profile-details .full-width {
  width: 100%;
}
form.profile-details .half-width {
  width: 50%;
}
form.profile-details textarea {
  border: 2px solid #6B6B6B;
  outline: none;
  padding: 1rem;
  margin-bottom: 4rem;
  resize: none;
}
form.profile-details .checkout-label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 3rem;
  margin-right: 2rem;
  font-weight: normal;
}
form.profile-details .checkout-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
form.profile-details .checkout-label .checkout-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 23px;
  width: 25px;
  background-color: transparent;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 3px solid #6B6B6B;
}
form.profile-details .checkout-label .checkout-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
form.profile-details .checkout-label input:checked ~ .checkout-custom {
  background-color: #D32907;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #D32907;
}
form.profile-details .checkout-label input:checked ~ .checkout-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}
form.profile-details #video-upload {
  width: 100%;
  background: transparent;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
  border: 3px dotted #DADADA;
  position: relative;
  color: #DADADA;
  font-weight: normal;
}
form.profile-details #video-upload::before {
  content: url(/images/icon/upload-1.svg);
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(-50%, -50%);
}
form.profile-details #video-upload::after {
  content: url(/images/icon/upload-2.svg);
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
}
form.profile-details .input-file[type=file] {
  display: none;
}
form.profile-details select:not(multiple) {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #6B6B6B;
  margin-bottom: 4rem;
  outline: none;
  background: url(/images/icon/drop-down-black.svg) no-repeat calc(100% - 25px) center;
  width: 100%;
  border-radius: 0;
  color: #6B6B6B;
}
form.recovery-pwd {
  background: #fff;
  padding: 3rem 7rem;
  width: 90%;
  margin: 0 auto;
  /* Firefox */
}
@media only screen and (max-width: 768px) {
  form.recovery-pwd {
    padding: 2rem 2rem;
    width: 100%;
  }
}
form.recovery-pwd .faded {
  opacity: 0.5;
  pointer-events: none;
}
form.recovery-pwd label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
form.recovery-pwd input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #6B6B6B;
  margin-bottom: 4rem;
  outline: none;
}
form.recovery-pwd input[type=number]::-webkit-outer-spin-button,
form.recovery-pwd input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form.recovery-pwd input[type=number] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 768px) {
  form.recovery-pwd .d-flex {
    flex-wrap: wrap;
  }
}
form.recovery-pwd .half-width {
  width: 50%;
  margin-right: 2rem;
}
@media only screen and (max-width: 768px) {
  form.recovery-pwd .half-width {
    width: 100%;
  }
}
form.recovery-pwd .full-width {
  width: 100%;
}
form.recovery-pwd .del {
  border: 0;
  outline: none;
  background: transparent;
  color: #D32907;
  margin-bottom: 4rem;
  padding: 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  form.recovery-pwd .del {
    margin-bottom: 2rem;
  }
}
form.recovery-pwd p {
  color: #D32907;
  font-size: 1.5rem;
  margin-bottom: 0;
}
form.event-register {
  width: 100%;
}
form.event-register .m-right {
  margin-right: 2rem;
}
form.event-register .w-sm {
  width: 15%;
}
@media only screen and (max-width: 576px) {
  form.event-register .w-sm {
    width: 30%;
  }
}
form.event-register .w-sm-2 {
  width: 85%;
}
@media only screen and (max-width: 576px) {
  form.event-register .w-sm-2 {
    width: 70%;
  }
}
form.event-register span {
  color: #D32907;
  font-weight: bold;
}
form.event-register span.col-green {
  color: #04CF00;
}
form.event-register select:not(multiple) {
  background: url(/images/icon/flag.svg) no-repeat left;
  padding-left: 4rem;
}
form.overview-form textarea, form.overview-form input, form.overview-form select {
  margin-bottom: 1rem !important;
}

.btn {
  color: #3E3E3E;
  border: 2px solid;
  font-size: 2rem;
  padding: 20px 86px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  z-index: 1;
  position: relative;
  border-radius: 0;
}
.btn.btn-sm {
  padding: 10px 20px;
  font-size: 12px;
}
@media only screen and (max-width: 576px) {
  .btn {
    padding: 20px 40px;
  }
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #D32907;
  color: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  z-index: -1;
}
.btn:hover::before {
  transform: scaleY(1);
  width: 100%;
  color: #fff;
}
.btn:hover {
  color: #fff;
  border-color: #D32907;
}

.btn-white {
  width: 100%;
  color: #fff;
  margin-bottom: 5rem;
}
.btn-white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  color: #000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  z-index: -1;
}
.btn-white:hover::before {
  transform: scaleY(1);
  width: 100%;
  color: #000;
}
.btn-white:hover {
  color: #000;
  border-color: #fff;
}

.btn-profile {
  width: 100%;
  font-size: 2rem;
  padding: 24px 86px;
}
@media only screen and (max-width: 576px) {
  .btn-profile {
    font-size: 1.5rem;
    padding: 17px 20px;
  }
}

section.image-text {
  padding: 7.5rem 0;
}
section.image-text .investors {
  margin-top: 60px;
}
@media only screen and (max-width: 576px) {
  section.image-text .investors {
    margin-top: 0;
  }
}
section.image-text .investors .img-01 {
  height: 100px;
  margin-bottom: -38px;
}
@media only screen and (max-width: 1200px) {
  section.image-text .investors .img-01 {
    margin-bottom: -32px;
  }
}
@media only screen and (max-width: 576px) {
  section.image-text .investors .img-01 {
    height: 75px;
  }
}
section.image-text .investors h3 {
  text-align: right;
  position: relative;
}
@media only screen and (max-width: 992px) {
  section.image-text .investors h3 {
    text-align: left;
  }
}
@media only screen and (max-width: 1200px) {
  section.image-text .investors h3 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 576px) {
  section.image-text .investors h3 {
    font-size: 3rem;
  }
}
section.image-text .investors h3::before {
  content: "";
  position: absolute;
  bottom: 11px;
  right: -3px;
  width: 32rem;
  z-index: -1;
  height: 0.7rem;
  background: #D32907;
}
@media only screen and (max-width: 992px) {
  section.image-text .investors h3::before {
    left: -3px;
    right: 0;
  }
}
@media only screen and (max-width: 576px) {
  section.image-text .investors h3::before {
    z-index: 0;
    bottom: 2px;
    width: 25rem;
  }
}
section.image-text .investors p {
  text-align: right;
  margin-bottom: 2rem;
  font-size: 20px;
  line-height: 1.7;
}
@media only screen and (max-width: 992px) {
  section.image-text .investors p {
    text-align: left;
  }
}
section.image-text .investors a {
  display: flex;
  align-items: center;
  color: #D32907;
  text-transform: uppercase;
  text-align: right;
  justify-content: flex-end;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 992px) {
  section.image-text .investors a {
    justify-content: flex-start;
  }
}
section.image-text .investors a img {
  margin-left: 1rem;
  height: 14px;
  position: relative;
  top: -2px;
}
section.image-text .startups .img-02 {
  margin-left: 20rem;
}
@media only screen and (max-width: 992px) {
  section.image-text .startups .img-02 {
    margin-left: 0;
  }
}
section.image-text .startups h3 {
  text-align: left;
}
section.image-text .startups h3::before {
  left: -2px;
}
section.image-text .startups p {
  text-align: left;
}
section.image-text .startups a {
  justify-content: flex-start;
}
section.events {
  padding: 6rem 0;
  background: #F8F8F8;
}
section.events .event-slider {
  position: relative;
}
section.events h2 {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 576px) {
  section.events h2 {
    font-size: 3.5rem;
  }
}
section.events .card {
  border: none;
  display: block;
  cursor: pointer;
  margin-bottom: 3rem;
}
section.events .card:hover .view {
  opacity: 1;
  transition: all 0.2s;
}
section.events .card:hover .card-img-top {
  filter: brightness(0.3);
  transition: all 0.2s;
}
section.events .card .card-img-top {
  position: relative;
}
section.events .card .view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
}
section.events .card .view img {
  margin-left: 1rem;
  height: 14px;
  position: relative;
  top: -1px;
}
section.events .card .view:focus {
  outline: none;
}
section.events .background-text {
  margin: 15px;
  border-bottom: 1px solid #DADADA;
}
section.events .background-text p {
  color: #3E3E3E;
}
section.events .background-text p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  height: 50px;
}
@media only screen and (max-width: 992px) {
  section.events .background-text p:nth-child(1) {
    margin-bottom: 20px;
  }
}
section.events .background-text p:nth-child(2) {
  font-size: 1.3rem;
}
section.events .event-tag-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem 1rem 1.5rem;
}
section.events .event-tag-location p {
  text-transform: uppercase;
}
section.events .event-tag-location p:nth-child(1) {
  background: #51B8D9;
  border-radius: 10px;
  padding: 6px 5px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.3rem;
  color: #fff;
}
section.events .event-tag-location p:nth-child(2) {
  font-size: 1.3rem;
  color: #3E3E3E;
}
section.events .meta {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem 1rem 1.5rem;
}
section.events .meta p:nth-child(1) {
  letter-spacing: 0.1rem;
  font-weight: normal;
  font-size: 1.3rem;
  color: #3E3E3E;
  margin-bottom: 16px;
}
section.events .meta p:nth-child(2) {
  font-size: 1.3rem;
  color: #3E3E3E;
}
section.events .slick-prev {
  bottom: 30px;
  left: -75px;
  height: 50px;
  width: 50px;
  top: auto;
}
section.events .slick-prev::before {
  content: "";
  font-size: unset;
  opacity: 1;
  display: inline-block;
  background: url(/images/icon/prev.png) no-repeat center;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: absolute;
}
section.events .slick-next {
  top: 0;
  height: 50px;
  width: 50px;
}
section.events .slick-next::before {
  content: "";
  font-size: unset;
  opacity: 1;
  display: inline-block;
  background: url(/images/icon/next.png) no-repeat center;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: absolute;
}
section.posts {
  background: #ECEFF1;
}
section.posts .post {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 320px;
  display: block;
  text-align: center;
}
section.posts .post::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
section.posts p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 100;
}
section.posts .slick-dots {
  bottom: -36px;
}
section.posts .message-box {
  padding: 1.5rem 3rem;
  background: #fff;
  margin-bottom: 2rem;
}
section.posts .message-box .message-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
section.posts .message-box .message-image img {
  border-radius: 50%;
}
section.posts .message-box p {
  padding-top: 30px;
  color: #6B6B6B;
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  section.posts .message-box p {
    padding-top: 20px;
  }
}
section.posts .message-box .name {
  text-align: center;
}
section.posts .message-box .message-info {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  section.posts .message-box .message-info {
    text-align: justify;
  }
}
section.posts .message-box .message-info .date {
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: right;
}
section .button {
  margin-top: 64px;
}
@media only screen and (max-width: 992px) {
  section .button {
    margin-top: 50px !important;
  }
}
section.blog {
  padding: 0 0 6rem 0;
  margin-top: -10rem;
  background: transparent;
}
section.blog .blog-post {
  margin-bottom: 30px;
  color: #3E3E3E;
  display: block;
}
section.blog .blog-post:hover .view {
  opacity: 1;
  transition: all 0.2s;
}
section.blog .blog-post:hover .card-img-top {
  filter: brightness(0.3);
  transition: all 0.2s;
}
section.blog .blog-post .card-img-top {
  position: relative;
}
section.blog .blog-post .view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
}
section.blog .blog-post .view img {
  margin-left: 1rem;
  height: 14px;
  position: relative;
  top: -1px;
}
section.blog .blog-post .view:focus {
  outline: none;
}
section.blog .blog-post div.meta {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 6px 12px;
  margin: 0 0 10px;
}
section.blog .blog-post div.meta p {
  text-transform: uppercase;
  color: inherit;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}
section.blog .blog-post p.post-title {
  font-weight: bold;
  font-size: 1.5rem;
  background: white;
}
section.discover .card .img-wrapper {
  padding: 15px;
  position: relative;
}
@media only screen and (max-width: 576px) {
  section.single-post {
    padding: 60px 10px 60px;
  }
}
@media only screen and (max-width: 576px) {
  section.single-post .multi .phone-label {
    margin-top: 4rem;
  }
}
section.single-post .blog-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
section.single-post .white-bg {
  background: #fff;
  padding-bottom: 6rem;
}
section.single-post .content {
  padding: 30px;
  background: #fff;
  margin-top: -60px;
}
@media only screen and (max-width: 576px) {
  section.single-post .content {
    padding: 20px;
  }
}
section.single-post .content h1 {
  font-size: 36px;
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  margin: 0 0 30px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  section.single-post .content h1 {
    font-size: 25px;
  }
}
section.single-post .content h5 {
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 2rem;
  font-weight: 600;
}
section.single-post .content p {
  text-align: justify;
}
section.single-post .content .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}
@media only screen and (max-width: 576px) {
  section.single-post .content .category {
    flex-wrap: wrap;
  }
}
section.single-post .content .category::before {
  content: "";
  height: 40px;
  width: calc(100% + 400px);
  left: -200px;
  top: -10px;
  background: #eceff1;
  position: absolute;
  z-index: 1;
}
@media only screen and (max-width: 576px) {
  section.single-post .content .category::before {
    height: 75px;
  }
}
section.single-post .content .category p {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
  color: black;
}
@media only screen and (max-width: 576px) {
  section.single-post .content .category p {
    margin-bottom: 10px;
    margin-right: 15px;
  }
}
section.single-post .content .category p:first-child {
  text-transform: uppercase;
}
section.single-post .content .event-category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
section.single-post .content .event-category p {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
section.single-post .content .event-category p img {
  margin-right: 0.5rem;
}
section.single-post .content .event-category .color-red {
  color: #D32907;
  text-transform: uppercase;
}
section.single-post .content #register-free {
  display: none;
}
section.single-post .content #register-pay {
  display: none;
}
section.modal {
  padding-top: 300px;
}
section.modal .modal-body {
  padding: 3rem 2rem;
  background: #fff;
}
section.modal .modal-body.notice-message {
  padding-top: 300px;
}
section.modal .modal-body.notice-message .modal-body {
  padding: 3rem 2rem;
  background: #fff;
}
section.profile {
  padding: 80px 60px 60px 60px;
}
@media only screen and (max-width: 992px) {
  section.profile {
    padding: 40px 20px 60px 20px;
  }
}
section.profile .row {
  padding: 5rem 5rem 20rem 5rem;
  background: #fff;
}
@media only screen and (max-width: 992px) {
  section.profile .row {
    padding: 5rem 2rem 10rem 2rem;
  }
}
@media only screen and (max-width: 576px) {
  section.profile .row {
    padding: 3rem 2rem 5rem 2rem;
  }
}
section.profile .numbers {
  padding-bottom: 25rem;
  display: flex;
  align-items: baseline;
}
@media only screen and (max-width: 992px) {
  section.profile .numbers {
    display: none;
  }
}
section.profile .numbers .number {
  width: 3rem;
  height: 3rem;
  display: flex;
  border: 3px solid #D32907;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  color: #D32907;
}
section.profile .numbers p {
  color: #D32907;
  font-weight: bold;
  margin-left: 5rem;
}
section.profile .num-alone {
  padding-bottom: 0;
}
@media only screen and (max-width: 992px) {
  section.profile .num-alone {
    display: flex;
  }
}
section.profile .num-alone p {
  margin-left: 1rem;
}
section.profile .only {
  position: relative;
}
section.profile .only::before {
  content: "";
  position: absolute;
  top: -89%;
  left: 13px;
  width: 0.4rem;
  height: 90%;
  background: #D32907;
  opacity: 0.5;
}
section.profile .only::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 13px;
  width: 0.4rem;
  height: 90%;
  background: #D32907;
  opacity: 0.5;
}
section.profile .fade {
  opacity: 0.5;
  font-weight: 100 !important;
}
section.profile-2 .only::before {
  opacity: 1;
}
section.profile-2 .only-1::after {
  opacity: 1;
}
section.profile-2 .numbers .number-1 {
  font-weight: normal;
}
section.message-read {
  padding-top: 100px;
}
section.message-read .open-message {
  padding: 2.5rem 4rem 2rem;
  color: #6B6B6B;
  background: #fff;
  position: relative;
}
@media only screen and (max-width: 768px) {
  section.message-read .open-message {
    padding: 2.5rem 3rem 2rem;
  }
}
@media only screen and (max-width: 576px) {
  section.message-read .open-message {
    padding: 2.5rem 2rem 2rem;
  }
}
section.message-read .open-message .name {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
section.message-read .open-message .name p {
  font-weight: bold;
}
section.message-read .open-message .name span {
  font-size: 1.5rem;
}
section.message-read .open-message .msg {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}
section.message-read .open-message button {
  background: none;
  border: 0;
  color: #D32907;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0;
}
section.message-read .open-message textarea {
  width: 100%;
  padding: 1rem;
  resize: none;
}
section.message-read .open-message #cancel-message img {
  max-height: 20px;
  margin-bottom: 10px;
}
section.message-read .open-message .bold {
  margin-bottom: 10px;
}
section.message-read .open-message .reply-details {
  display: none;
}
@media only screen and (max-width: 576px) {
  section.startup-content {
    padding: 60px 0 60px;
  }
}
section.startup-content p {
  margin-bottom: 15px;
}
section.startup-content .profile-name {
  font-size: 20px;
}
section.startup-content .startup-sidebar {
  width: 350px;
  z-index: 100;
}
@media only screen and (max-width: 1300px) {
  section.startup-content .startup-sidebar {
    width: 300px;
  }
}
@media only screen and (max-width: 992px) {
  section.startup-content .startup-sidebar {
    width: 210px;
  }
}
@media only screen and (max-width: 768px) {
  section.startup-content .startup-sidebar {
    position: unset;
    width: 100%;
    margin-bottom: 30px;
  }
}
section.startup-content .startup-sidebar .profile-content {
  padding: 25px 0;
  background: #fff;
  text-align: center;
}
section.startup-content .startup-sidebar .profile-content .img-profile {
  max-width: 130px;
  margin-bottom: 15px;
  cursor: pointer;
}
section.startup-content .startup-sidebar .profile-content .social-icons {
  margin-bottom: 10px;
}
section.startup-content .startup-sidebar .profile-content .social-icons a {
  margin-right: 10px;
}
section.startup-content .startup-sidebar .profile-content button {
  background: transparent;
  border: 1px solid #D32907;
  color: #D32907;
  padding: 5px 13px;
}
section.startup-content .startup-sidebar .profile-content button:hover {
  background: #D32907;
  color: #fff;
}
section.startup-content .startup-sidebar .profile-content .edit-profile-btn {
  background: #D32907;
  border: none;
  color: #fff;
  padding: 5px 7px;
}
section.startup-content .startup-sidebar .profile-content #message {
  margin-left: 10px;
}
section.startup-content .startup-sidebar .startup-link-view {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: #D32907;
  border: none;
  text-transform: uppercase;
  margin-bottom: 2px;
}
@media only screen and (max-width: 992px) {
  section.startup-content .startup-sidebar .startup-link-view {
    padding: 15px 10px;
    font-size: 12px;
  }
}
section.startup-content h5 {
  font-family: "Fira Sans", sans-serif;
  color: #D32907;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
section.startup-content .startup-description {
  background: #fff;
  padding: 20px 20px;
  margin-bottom: 30px;
}
section.startup-content .startup-description img {
  margin-bottom: 20px;
}
section.startup-content .startup-description .player-thumbnail {
  position: relative;
  width: 100%;
}
section.startup-content .startup-description .player-thumbnail video {
  width: 100%;
  cursor: pointer;
}
section.startup-content .startup-description .player-thumbnail::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-image: url("/images/icon/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
section.startup-content .startup-description:hover .edit-icon {
  display: block;
}
section.startup-content .startup-description .industry-paragraph {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  margin-bottom: 14px !important;
}
section.startup-content .startup-description .industry-paragraph .industry-span {
  margin-right: 2px;
  margin-bottom: 0;
  line-height: 1;
}
section.startup-content .startup-description .industry-paragraph .industry-span::after {
  content: ",";
}
section.startup-content .startup-description .edit-icon {
  position: absolute;
  top: 20px;
  right: 35px;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 992px) {
  section.startup-content .startup-description .edit-icon {
    display: block;
  }
}
section.startup-content .startup-description .text-description {
  text-align: justify;
}
section.startup-content .startup-description a {
  color: #0008C4;
  font-weight: normal;
}
section.startup-content .startup-description .color-green {
  color: #04CF00;
}
section.startup-content .startup-description .p-move-down {
  margin-bottom: 22px;
}
section.startup-content .startup-description .product-img-list img {
  max-width: 100px;
  margin: 0 30px 30px 0;
}
section.startup-content .investors-description {
  padding: 30px 20px;
  background: #fff;
  margin-bottom: 20px;
}
section.startup-content .investors-description .profile-details {
  text-align: left;
}
section.startup-content .investors-description .profile-details .p-head {
  font-size: 20px;
}
section.startup-content .investors-description .profile-details p:nth-child(2) {
  text-align: justify;
}
section.startup-content .investors-description .profile-details p:nth-child(3) {
  margin-top: 40px;
}
section.startup-content .investors-description .profile-details ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 26px;
}
@media only screen and (max-width: 992px) {
  section.startup-content .investors-description .profile-details ul {
    margin-bottom: 0;
  }
}
section.startup-content .investors-description .profile-details ul li:nth-child(1) {
  background: #51B8D9;
  border-radius: 10px;
  padding: 6px 5px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.3rem;
  color: #fff;
  margin-right: 20px;
}
section.startup-content .investors-description .profile-details ul li:nth-child(2) {
  background: #4BDB73;
  border-radius: 10px;
  padding: 6px 5px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.3rem;
  color: #fff;
  margin-right: 20px;
}
section.startup-content .investors-description .profile-details ul li:nth-child(3) {
  background: #51B8D9;
  border-radius: 10px;
  padding: 6px 5px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.3rem;
  color: #fff;
}
section.startup-content .investors-description .investors-profile {
  text-align: center;
}
section.startup-content .investors-description .investors-profile .img-profile {
  border-radius: 50%;
  margin-bottom: 20px;
  cursor: pointer;
}
section.startup-content .investors-description .investors-profile .investor-name {
  font-size: 20px;
}
section.startup-content .investors-description .investors-profile .edit-investors-profile {
  background: transparent;
  border: 1px solid #D32907;
  color: #D32907;
  padding: 5px 13px;
}
section.startup-content .investors-description .investors-profile .edit-investors-profile:hover {
  background: #D32907;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  section.forgot-password {
    padding: 60px 0 60px;
  }
}
section.forgot-password form {
  width: 50%;
}
section.forgot-password form, section.forgot-password .reset-password-message {
  margin-top: 90px;
  margin-bottom: 90px;
}
@media only screen and (max-width: 576px) {
  section.forgot-password form, section.forgot-password .reset-password-message {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 576px) {
  section.reset-password {
    padding: 60px 0 60px;
  }
}
section.reset-password form {
  width: 50%;
}
section.reset-password form, section.reset-password .reset-password-message {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 576px) {
  section.reset-password form, section.reset-password .reset-password-message {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
section.investors-bg {
  background: #ECEFF1;
}
section.faqs {
  background: #F8F8F8;
}
section.faqs .white-bg {
  padding: 60px 0;
}
section.faqs article {
  margin-bottom: 50px;
}
section.faqs article h3 {
  color: #D32907;
  font-size: 24px;
  text-transform: none;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 10px;
}
section.faqs article h3::after {
  content: "?";
}
section.about {
  background: #F8F8F8;
}
section.about .white-bg {
  padding: 60px 0;
}
section.about .red-bg {
  padding: 60px 0;
  margin-bottom: 10rem;
  background: #D32907;
}
section.about h5 {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  line-height: 150%;
}
section.about p {
  font-size: 15px;
  margin-bottom: 0;
  color: #6B6B6B;
}
section.about .about-story h5 {
  font-size: 26px;
  color: white;
  text-align: center;
}
section.about .about-story p {
  color: white;
  font-size: 13px;
  line-height: 2;
}
section.contact-us {
  background: #F8F8F8;
}
section.contact-us .white-bg {
  padding: 60px 0;
  margin-top: -60px;
  margin-bottom: 60px;
}
section.contact-us form {
  padding: 0 7rem;
}
section.contact-us form input, section.contact-us form textarea, section.contact-us form button {
  margin-top: 4rem;
  margin-bottom: 0 !important;
}
section.contact-us form textarea {
  border: 2px solid #6B6B6B;
  outline: none;
  padding: 1rem;
  resize: none;
}

* {
  outline: none !important;
}
*:active, *:focus, *:hover, *::-moz-focus-inner {
  outline: none !important;
}
*::-moz-focus-inner {
  border: 0 !important;
}

input:focus, textarea:focus, select:focus, option:focus button {
  outline: none !important;
}

.m-bottom {
  margin-bottom: 8rem !important;
}

.m-bottom-small {
  margin-bottom: 3rem;
}

.m-right {
  margin-right: 2rem;
}

.white-bg {
  background: white;
}

.pointer {
  cursor: pointer;
}

.notification {
  position: fixed;
  display: flex;
  bottom: 20px;
  right: -40px;
  z-index: 100;
  opacity: 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px 30px 10px 60px;
  transition: 0.3s all;
  background-color: white;
}
.notification::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 30px;
  top: 50%;
  background-size: cover;
  transform: translateY(-50%);
}
.notification.success {
  color: green;
}
.notification.success::before {
  background-image: url("/images/icon/tick.png");
}
.notification.danger {
  color: #D12B19;
}
.notification.danger::before {
  background-image: url("/images/icon/alert.png");
}
.notification.show {
  display: block;
  right: 20px;
  opacity: 1;
}
.notification span {
  cursor: pointer;
}

.image-viewer {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}
.image-viewer img {
  width: 0;
  height: 0;
  opacity: 0;
}
.image-viewer img.show {
  width: auto;
  height: auto;
  opacity: 1;
}
.image-viewer .close {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  height: 100px;
  width: 100px;
  overflow: hidden;
  position: absolute;
  right: -45px;
  top: -45px;
}
.image-viewer .close::before {
  content: "";
  background-image: url("/images/icon/close.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 25px;
  bottom: 27px;
}

nav.navbar {
  font-size: 1.6rem;
  padding: 0 6rem 0 6rem;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  height: 64px;
}
@media only screen and (max-width: 992px) {
  nav.navbar {
    padding: 0 2rem 0 2rem;
  }
}
@media only screen and (max-width: 576px) {
  nav.navbar {
    padding: 0 2rem 0 2rem;
  }
}
nav.navbar ul.navbar-nav {
  flex-direction: row;
  flex-wrap: inherit;
}
@media only screen and (max-width: 768px) {
  nav.navbar ul.navbar-nav {
    display: none;
  }
}
nav.navbar ul.navbar-nav li.nav-item {
  position: relative;
}
nav.navbar ul.navbar-nav li.nav-item .nav-link {
  padding-right: 0;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 4px;
}
nav.navbar ul.navbar-nav li.nav-item:first-child .nav-link {
  margin-right: 30px;
  position: relative;
}
nav.navbar ul.navbar-nav li.nav-item:first-child .nav-link::after {
  content: "";
  height: 2px;
  width: 6px;
  background: #fff;
  position: absolute;
  top: 17px;
  right: -20px;
}
nav.navbar ul.navbar-nav li.nav-item span {
  color: #fff;
  padding-left: 0.7rem;
  letter-spacing: 0.3rem;
}
nav.navbar .menu-btn {
  background: none;
  border: none;
}
nav.navbar .menu-btn:focus {
  outline: none;
}
nav.navbar .logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  nav.navbar .logo-container {
    display: none;
  }
}
nav.navbar .logo-container .clip {
  height: 64px;
}
nav.navbar .logo-container .navbar-brand {
  position: absolute;
  padding: 0;
  margin: 0;
  display: block;
  top: 12px;
  transform: translateX(-50%);
  left: calc(50% + 2px);
}
nav.navbar .logo-container .navbar-brand #notification-btn {
  border: none;
  background: transparent;
  margin-right: 2rem;
  outline: none;
}
nav.navbar .logo-container .navbar-brand img {
  width: 32px;
}
nav.navbar .active-bar {
  position: relative;
}
nav.navbar .active-bar::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #D32907;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 7px;
}
nav.navbar .logo-small-screen {
  display: none;
}
@media only screen and (max-width: 768px) {
  nav.navbar .logo-small-screen {
    display: block;
    max-width: 63px;
    padding: 8px;
  }
}

footer {
  padding: 7rem 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/images/footer-bg.png);
  background-size: cover;
}
footer h5 {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 20px;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
}
footer ul li {
  color: #fff;
  margin-bottom: 2rem;
}
footer .social-icons {
  display: flex;
  flex-direction: column;
}
footer .social-icons a {
  margin-bottom: 24px;
}
@media only screen and (max-width: 992px) {
  footer .social-icons a {
    margin-left: 10px;
  }
}
footer a {
  font-weight: normal;
}
footer .logo {
  height: 170px;
  width: auto;
}

header.homepage {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(/images/banner.png);
  height: 100vh;
  background-size: cover;
  position: relative;
}
header.homepage .header-wrapper {
  display: flex;
  margin: 0 60px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
@media only screen and (max-width: 576px) {
  header.homepage .header-wrapper {
    margin: 0 30px;
  }
}
header.homepage .header-wrapper .social-icons {
  margin: 20px 100px 0 0;
}
@media only screen and (max-width: 576px) {
  header.homepage .header-wrapper .social-icons {
    display: none;
  }
}
header.homepage .header-wrapper .social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7.2rem;
}
header.homepage .header-wrapper .social-icons a:last-child {
  margin-bottom: 0;
}
header.homepage .header-wrapper h1 {
  font-size: 7.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  line-height: 1.6;
}
@media only screen and (max-width: 1300px) {
  header.homepage .header-wrapper h1 {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 992px) {
  header.homepage .header-wrapper h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 576px) {
  header.homepage .header-wrapper h1 {
    font-size: 3rem;
    letter-spacing: 4px;
  }
}
header.homepage .header-wrapper h1 span {
  background: #fff;
  color: #D32907;
  line-height: 0.9;
  display: inline-block;
  padding: 20px 12px 0;
}
@media only screen and (max-width: 576px) {
  header.homepage .header-wrapper h1 span {
    padding: 20px 12px 9px;
  }
}
header.homepage .scroll {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
  left: 50%;
  bottom: 50px;
  cursor: pointer;
}
header.homepage .scroll .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
header.homepage .scroll .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
header.homepage .scroll .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
header.homepage .scroll .chevron::before, header.homepage .scroll .chevron::after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
header.homepage .scroll .chevron::before {
  left: 0;
  transform: skew(0deg, 30deg);
}
header.homepage .scroll .chevron::after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
header.homepage .scroll .chevron .notification-box {
  width: 217px;
  background: #fff;
  box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 100px;
  z-index: 1;
  display: none;
}
header.homepage .scroll .chevron .notification-box ul {
  list-style: none;
  padding: 2rem 2rem;
}
header.homepage .scroll .chevron .notification-box ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}
header.homepage .scroll .chevron .notification-box ul li a {
  font-size: 1.7rem;
  font-weight: normal;
  color: #3E3E3E;
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
header .notification-box {
  width: 217px;
  background: #fff;
  box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 100px;
  z-index: 1;
  display: none;
}
header .notification-box ul {
  list-style: none;
  padding: 2rem 2rem;
}
header .notification-box ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}
header .notification-box ul li a {
  font-size: 1.7rem;
  font-weight: normal;
  color: #3E3E3E;
}
header.page-header {
  height: 70vh;
  background-size: cover !important;
  position: relative;
}
header.page-header h1 {
  font-size: 7.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  color: transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
@media only screen and (max-width: 992px) {
  header.page-header h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  header.page-header h1 {
    font-size: 3.5rem;
  }
}
header.page-header .center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  header.page-header .center-box {
    transform: translateY(-50%);
    left: unset;
  }
}
header.page-header .center-box h1 {
  text-align: center;
  margin-bottom: 10px;
  position: static;
  top: auto;
  left: auto;
  transform: none;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
header.page-header.blog {
  background: url(/images/blog-banner.jpg);
}
header.discover {
  background-image: url(/images/discover-banner.jpg);
}
header.discover .search-boxes {
  width: max-content;
}
@media only screen and (max-width: 992px) {
  header.discover .search-boxes {
    width: 100%;
  }
}
header.discover .search-boxes .button-search {
  padding: 15px 30px;
  background: white;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: 1px solid white;
  color: #655E54;
}
@media only screen and (max-width: 992px) {
  header.discover .search-boxes .button-search {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  header.discover .search-boxes .button-search {
    font-size: 13px;
  }
}
header.discover .search-boxes .button-search img {
  height: 16px;
  position: relative;
  top: -2px;
}
header.single-events {
  background: #F8F8F8;
  height: 10vh;
}
header.events {
  background-image: url(/images/events-banner.jpg);
}
header.faqs {
  background-image: url(/images/faqs-banner.jpg);
}
header.about {
  background-image: url(/images/about-banner.png);
}
header.disclaimer {
  background-image: url(/images/disclaimer.svg);
}
header.contact-us {
  background-image: url(/images/contact-us.svg);
}
header.no-bg {
  background: #ECEFF1;
  height: auto;
}
header.no-bg nav.navbar ul.navbar-nav li.nav-item .nav-link {
  color: #D32907;
}
header.no-bg nav.navbar ul.navbar-nav li.nav-item .nav-link:after {
  background-color: #D32907;
}
header.open-startup {
  background: #F8F8F8 url(/images/startup-profile-bg.svg);
}
header .sidebar {
  background-color: #811A06;
  position: fixed;
  top: 0;
  right: -700px;
  z-index: 9999;
  height: 100vh;
  width: 25%;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 1300px) {
  header .sidebar {
    width: 30%;
  }
}
@media only screen and (max-width: 992px) {
  header .sidebar {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  header .sidebar {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  header .sidebar {
    width: 90%;
  }
}
header .sidebar.active {
  right: 0;
}
header .sidebar button {
  position: absolute;
  right: 47px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  background: transparent;
}
header .sidebar button:focus {
  outline: none;
}
header .sidebar .active {
  color: #fff;
}
header .sidebar ul {
  margin: 120px 0 0;
  position: absolute;
  right: 54px;
  text-align: right;
  list-style: none;
}
header .sidebar ul li {
  margin-bottom: 4rem;
}
header .sidebar ul li a {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "League Spartan", sans-serif;
  color: #BF8C83;
}
@media only screen and (max-width: 576px) {
  header .sidebar ul li a {
    font-size: 35px;
  }
}
header .sidebar .icon-right-display {
  display: flex;
  align-items: baseline;
}
header .sidebar .icon-right-display img {
  margin-left: 2rem;
  display: none;
}
header .account-container {
  display: none;
  width: max-content;
  height: auto;
  background: #fff;
  z-index: 110;
  position: absolute;
  left: 67px;
  box-shadow: 2px 2px 7px 6px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 992px) {
  header .account-container {
    left: 27px;
  }
}
header .account-container ul {
  padding: 40px 50px 0 20px;
  margin: 10px;
}
@media only screen and (max-width: 576px) {
  header .account-container ul {
    padding: 40px 50px 15px 20px;
  }
}
header .account-container ul li {
  margin-bottom: 40px;
}
header .account-container ul li a {
  font-size: 2rem;
  font-weight: normal;
  color: inherit;
  display: flex;
  align-items: center;
}
header .account-container ul li a img {
  margin-right: 1rem;
}
header .account-container ul li .bold {
  font-weight: 600;
}
header.signup {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/signup-banner.png);
  height: 100vh;
  background-size: cover;
  position: relative;
}
header.signup .signup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
@media only screen and (max-width: 576px) {
  header.signup .signup-content {
    left: unset;
    transform: translateY(-50%);
    width: 100%;
  }
}
header.signup .signup-content h1 {
  font-size: 7.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  color: transparent;
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  header.signup .signup-content h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  header.signup .signup-content h1 {
    font-size: 4rem;
  }
}
header.signup .signup-content p {
  color: inherit;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 576px) {
  header.signup .signup-content p {
    text-align: center;
  }
}
header.signup .signup-content .image-containers {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header.signup .signup-content .image-containers img {
  height: 9rem;
  margin-bottom: 1rem;
}
header.signup .signup-content .image-containers a:nth-last-child(2) {
  position: relative;
}
header.signup .signup-content .image-containers a:nth-last-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 0.2rem;
  height: 14rem;
  background: #fff;
}
@media only screen and (max-width: 992px) {
  header.signup .signup-content .image-containers a:nth-last-child(2)::before {
    display: none;
  }
}
header.signup .signup-content .image-containers p {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}
header.signup .signup-content .icons {
  text-align: center;
  margin-bottom: 1rem;
}
header.signup .signup-content .icons button {
  background: none;
  border: 0;
}
header.signup .signup-content .icons button:not(:last-child) {
  margin-right: 2rem;
}
header.signup .signup-content .icons button:focus {
  outline: none;
}
header.signup .signup-content .investor-p {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  position: relative;
}
header.signup .signup-content .investor-p::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 200px;
  width: 120px;
  height: 0.1rem;
  background: #fff;
}
header.signup .signup-content .investor-p::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 200px;
  width: 120px;
  height: 0.1rem;
  background: #fff;
}
header.signup .discover-logo {
  margin-left: -18.09rem;
}
header.login {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/login-banner.png);
}
header.login .signup-content h4 {
  margin-bottom: 8rem;
}

/*# sourceMappingURL=global.css.map */
